body {
  background     : url(https://images.unsplash.com/photo-1591033594798-33227a05780d?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTI4fHxjYWxjdWxhdG9yfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60) no-repeat center center;
  background-size: 100%;
  font-size      : 18px;
  font-family    : 'Roboto', sans-serif;
}

.title {
  display        : flex;
  justify-content: center;
  color          : rgb(62, 48, 141);
  font-family    : 'Pacifico', cursive;
  text-shadow    : 0 0 10px rgb(0 26 255), 0 0 20px #fc02d2;
  font-size      : 80px;
}

.calculator {
  width           : 288px;
  height          : 434px;
  background-color: #888282;
  margin          : 50px auto;
  border          : 1px solid rgba(0, 0, 0, 0.05);
  border-radius   : 5px;
  box-shadow      : 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.calculator__panel {
  height    : 85px;
  text-align: right;
  padding   : 20px;
  position  : relative;
  color     : rgb(221, 201, 24);
}

.calculator__panel__result {
  position : absolute;
  right    : 20px;
  left     : 20px;
  word-wrap: break-word;
  bottom   : 20px;
  font-size: 34px;
}

.calculator__buttons {
  display       : flex;
  flex-direction: row;
  flex-wrap     : wrap;
}

.calculator__button {
  display         : flex;
  align-items     : center;
  justify-content : center;
  width           : 70px;
  height          : 60px;
  background-color: #1f2326;
  color           : #f8fcff;
  border          : 1px solid #2d3134;
  cursor          : pointer;
}

.calculator__button:hover {
  opacity         : 0.9;
  background-color: #FFFFFF;
  color           : rgb(0, 0, 0);
  border-radius   : 15px;
  transition      : 0.5s;
}

.calculator__button-long {
  width: 142px;
}

.calculator__button-orange {
  background-color: #ffc207;
  border          : 1px solid #ffc207;
  color           : #1f2326;
}

.calculator__button-purple {
  background-color: #5f4ab6;
  border          : 1px solid #6256c0;
}